@charset "utf-8";

@import "normalize.css";
@import "bourbon";
@import "bitters/base";   /* Bitters needs to be imported before Neat */
@import "neat";

@mixin mobile-all {
  @media only screen and (max-device-width: 736px) {
    @content;
  }
}

@mixin desktop-all {
  @media only screen and (min-device-width: 736px) {
    @content;
  }
}

body {
  font-family: Georgia;
}

// 1.618, base 1.2 and 1em
h1 {
  font-size: 1.942em;
}

h2 {
  font-size: 1.618em;
}

header {

  @include desktop-all {
    h1 {
      font-size: 2.618em;
    }

    h2 {
      font-size: 1.942em;
    }
  }

}

iframe {
  margin: 0 0 $small-spacing;
}

.footnotes {
  width: 100%;
  border-top: $base-border;
  padding-top: $base-spacing;
  margin-top: $base-spacing;
  font-size: 0.85em;
  ol {
    max-width: 33em;
    list-style-type: decimal;
    list-style-position: inside;
    li {
      text-indent: -1em;
      padding-left: 1em;
    }
  }
}

section {
  @include outer-container;
  @include mobile-all {
    padding: 20px;
  }
}


.entry {
  @include span-columns(6 of 12);
  @include shift(3);
  .post {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;
  }
}

.archive {
  @include span-columns(6 of 12);
  @include shift(3);

  ol {
    max-width: 33em;
    margin-left: auto;
    margin-right: auto;

    li.article {
      p:first-child {
        margin-bottom: 0;
      }
    }
  }

}

.recentwork {

  @include desktop-all {
    @include span-columns(6 of 12);
    @include shift(3);

    .logo {
      max-width: 80%
    }

  }

  @include mobile-all {
    @include span-columns(12);

    iframe {
      width: 100%;
    }
  }


 
}

header {
  @include outer-container;

  @include desktop-all {
    margin-top: 1.5em;
  }

  .avatar {
    @include desktop-all {
      @include span-columns(3 of 12);
    }

    @include mobile-all {
      @include span-columns(12);
    }

    video {
      @include border-top-radius(5px);
      @include border-right-radius(5px);
      @include border-bottom-radius(5px);
      @include border-left-radius(5px);
      width: 90%;
      margin: 0 auto;
      display: block;
      
    @include mobile-all {
      margin-top: 5%;
    }

    }
  }

  .bio {
    @include desktop-all {
      @include span-columns(6 of 12);
    }

    @include mobile-all {
      @include span-columns(12);
      padding: 20px;
    }

    h1 {
      margin-top: 0;
    }
  }

  .shortbio {

    @include desktop-all {
      @include span-columns(6 of 12);
      @include shift(3);
    }

    @include mobile-all {
      @include span-columns(12);
      padding: 20px;
    }

    h1 {
      margin-top: 0;
    }

  }
}

