// @import "bourbon/bourbon";
// @import "bitters/base";   /* Bitters needs to be imported before Neat */
// @import "neat/neat";
// all selectors that target bare tags go here,
// so we can override the default bitters stuff.

@mixin mobile-all {
  @media only screen and (max-device-width: 736px) {
    @content;
  }
}

@mixin desktop-all {
  @media only screen and (min-device-width: 736px) {
    @content;
  }
}

// copying from primer {
// from https://github.com/primer/css/blob/6c31e4f4cdfa15329486d2dc92a3e283d231438a/src/support/variables/layout.scss#L122
// Breakpoint widths
$width-xs: 0 !default;
// Small screen / phone
$width-sm: 544px !default;
// Medium screen / tablet
$width-md: 768px !default;
// Large screen / desktop (980 + (16 * 2)) <= container + gutters
$width-lg: 1012px !default;
// Extra large screen / wide desktop
$width-xl: 1280px !default;

// Breakpoints in the form (name: length)
$breakpoints: (
  xs: $width-xs,
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl) !default;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == '' {
    @content;
  }

  @else {
    // Retrieves the value from the key
    $value: map-get($breakpoints, $breakpoint);

    // If the key exists in the map
    @if $value != null {
      // Prints a media query based on the value
      @media (min-width: $value) {
        @content;
      }
    }

    // If the key doesn't exist in the map
    @else {
      @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map.';
    }
  }
}

// } end copy

html {
  padding-bottom: 2em;
}


// I'm a traditionalist at heart
a:hover {
  text-decoration: underline;
}

a:visited {
    color: #551A8B;
}

body {
  font-family: Georgia;
}

// I prefer to have space below *and* above headers

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $large-spacing 0 $small-spacing;
}

// 1.618, base 1.2 and 1em
h1 {
  font-size: 1.942em;
}

h2 {
  font-size: 1.618em;
}


// TODO: I've finally gotten a use for h3-h6 but need to fit in the size scale
// i picked for h1 and h2; in the meantime,
// i've copied the following scale from Primer:
h3 {
// $h1-size: 32px;
// $h2-size: 24px;
// $h3-size: 20px;
// $h4-size: 16px;
// $h5-size: 14px;
// $h6-size: 12px;
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}



p, ul, ol {
  margin: 0 0 $medium-spacing;
}

// http://practicaltypography.com/block-quotations.html
// reduce font-size and line-height slightly
blockquote {
  // reminder for futureself: ems are relative!
  // so this is 0.9em of $base-font-size!
  font-size: 0.9em;
  line-height: $base-line-height - 0.1;
}

// copied from bootstrap
pre {
  display: block;
  padding: 9.5px;
  font-size: 0.7em;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

code {
  padding: 2px 4px;
  font-size: 0.7em;
  color: #d14;
  white-space: nowrap;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

iframe {
  margin: 0 0 $small-spacing;
}
