<h2><%= title %></h2>
<a href="/img/azulejos/<%= filename %>"><img src="/img/azulejos/<%= filename %>"></a>

<% if saints.any? { |s| data.azulejos["saints"][s].size > 0 } %>
  <h4>All tiles featuring these saint(s):</h4>
  <% saints.each do |s| %>
    <%= render_partial 'views/azulejos', :locals => { :azulejos => data.azulejos["saints"][s] }  %>
  <% end %>
<% end %>

