</div>
</div>

<% azulejos.each_slice(4) do |slice| %>
  <section class="azulejo-row">
    <% slice.each do |f, arr| %>
      <div class="azulejo">
        <a href="<%= link_to_azulejo(f) %>"><img src="/img/azulejos/thumb/<%= f %>" style="display: inline"></a>
      </div>
    <% end %>
  </section>
<% end %>

<div class="post-wrapper">
<div class="post">
