## References and footnotes
[^ltb-2017]: Landlord and Tenant Board. (2017, May). Brochure: A Guide to the Residential Tenancies Act. Retrieved September 29, 2017, from <a href="http://www.sjto.gov.on.ca/documents/ltb/Brochures/Guide%20to%20RTA%20(English).html">sjto.gov.on.ca</a>

[^mcgrath-skepticism]: McGrath, J. (2017, March 22). Ontario needs a rental rethink, but should tread carefully. Retrieved August 17, 2017, from <a href="https://tvo.org/article/current-affairs/ontario-needs-a-rental-rethink-but-should-tread-carefully">tvo.org</a>

