<% content_for :page_title do %>
  <title>phillmv - archive</title>
<% end %>


<% wrap_layout :layout do %>
  <%= partial "shared/shortbio" %>
  <section>
    <div class="archive">
      <ol>
        <h1>Writing</h2>
        <% blog.articles.reject { |a| a.data[:draft] }.each do |article| %>
          <li class="article">
            <p><%= article.date.strftime('%0e %b %Y') %></p>
            <p><%= link_to article.title, article %></p>
          </li>
        <% end %>
      </ol>
    </div>
  </section>
<% end %>
