<% wrap_layout :layout do %>

  <%= partial "shared/shortbio" %>
  <div class="entry">
    <div class="post">
      <h1><%= current_article.title %></h1>
      <%= yield %>
    </div>
  </div>
<% end %>
