<p>'Our Lord of Steps'. Refers to Jesus while undergoing the <a href="https://en.wikipedia.org/wiki/Stations_of_the_Cross">stations of the Cross</a>. Going by Portuguese wikipedia, this image has been popular since the Middle Ages.</a>
